:root {
  --color-background-light: #7945FF;
  --color-background-dark: #5C2DD5;
  --color-text: whitesmoke;
  --color-a: #ff6584;
  --color-b: #fdcd69;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-light);
  min-width: 500px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 2px;
}

/* Header includes buttons and logo */
header {
  height: 188px;
  display: flex;
  justify-content: center;
}

/* Spacing of header */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

/* Format of all buttons */
.button {
  margin: 0px;
  text-align: center;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em;
  width: 8em;
  background-color: var(--color-background-dark);
  border-radius: 50px;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
.button:focus {
  transform: scale(1.1);
}

/* Red border if button is active */
.active {
  border: 2px solid var(--color-a);
}

/* Logo on top of game */
.ball {
  width: 1.1em;
  height: 1.1em;
  border: 2px black solid;
  margin: 2px;
  border-radius: 50%;
}

/* Red ball in logo */
.ball-a {
  background-color: var(--color-a);
}

/* Green ball in logo */
.ball-b {
  background-color: var(--color-b);
}

/* Divide 4 balls in the logo in 2 lines */
.line {
  display: flex;
}

/* Main screen with players and game table */
main {
  height: 60%;
  display: flex;
  justify-content: center;
}

/* Game table */
.main-page {
  position: relative;
}

.main-frame {
  border: 2px black solid;
  border-bottom: 10px black solid;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
}

/* Transparent box for each circle */
.circle {
  position: relative;
  width: 4em;
  height: 4em;
  overflow: hidden;
  background-color: transparent;
  cursor: pointer;
}

/* Black circle in eack box */
.circle::before {
  content: '';
  width: 0;
  height: 0;
  top: 15px;
  left: 9.5px;
  border: 23px solid transparent;
  border-radius: 50%;
  outline: 10px black solid;
  position: absolute;
}

/* Red disc */
.red {
  background-color: var(--color-a);
}

.red::before {
  top: 10px;
  border-color: var(--color-a);
}

/* Yellow disc */
.yellow {
  background-color: var(--color-b);
}

.yellow::before {
  top: 10px;
  border-color: var(--color-b);
}

/* White border (background) around colored circle */
.white-mask {
  position: absolute;
  top: 6.8px;
  left: 6.8px;
  width: 2.8em;
  height: 2.8em;
  background-color: transparent;
  border-radius: 3em;
  border: 0.2em solid black;
  outline: 1.5em solid white;
  pointer-events: none;
}

/* Square for each player */
.player {
  background-color: var(--color-text);
  border: 2px black solid;
  border-bottom: 10px black solid;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 130px;
  align-items: center;
  margin: 0 30px;
  text-transform: uppercase;
  border-radius: 15px;
  position: relative;
}

/* Color of player 1 */
.player1 {
  background-color: var(--color-a);
}

/* Color of player 2 and flipped */
.player2 {
  background-color: var(--color-b);
  transform: scaleX(-1);
}

/* Placement of player emoji */
img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  top: -20px;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2 {
  font-size: 1em;
  margin-top: 30px;
}

h3 {
  margin: 10px auto 0;
}

h4 {
  color: var(--color-background-dark);
  font-size: 1.5em;
  margin: 30px auto 0 20px;
}

p {
  color: black;
  font-size: 1em;
  font-weight: 700;
  margin: 10px 10px 0 20px;
}

li {
margin-right: 20px;
}

/* Colored footer at bottom */
footer {
  width: 100%;
  height: 10vh;
  background-color: var(--color-background-dark);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: fixed;
  bottom: 0;
  z-index: -2;
}

/* Footer is red if red win */
.red-footer {
  background-color: var(--color-a);
}

/* Footer is yellow if yellow win */
.yellow-footer {
  background-color: var(--color-b);
}

/* Game over box */
.gameover {
  height: 150px;
  width: 300px;
  background-color: var(--color-text);
  top: 465px;
}

/* Margin for buton in Game over box */
.gameover .button {
  margin-top: -10px;
}

.gameover, .counter, .triangle, .rules {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  border: 2px black solid;
  border-bottom: 10px black solid;
  border-radius: 15px;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  font-weight: bold;
  text-transform: uppercase;
}

.counter {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 0;
  width: 180px;
  height: 100px;
  top: 470px;
}

/* Top triangle of counter */
.triangle {
  width: 87.5px;
  height: 88px;
  transform: skew(25deg, 25deg);
  rotate: 135deg;
  border: black solid;
  border-radius: 3px;
  border-width: 0 0 2px 2px;
  z-index: -1;
  top: -95.7px;
  background-color: whitesmoke;
}

/* Rules box */
.rules {
  position: absolute;
  width: 450px;
  height: 450px;
  background-color: var(--color-text);
  top: 50px;
  font-family: 'Inter', sans-serif;
  letter-spacing: normal;
  text-transform: none;
}

/* Background color for red counter */
.counter-red {
  background-color: var(--color-a);
  color: var(--color-text);
}

/* Background color for yellow counter */
.counter-yellow {
  background-color: var(--color-b);
  color: black;
}

/* Placement for small screen resolution */
@media (max-width: 900px) {
  .main-page {
    order: 1;
  }

  main {
    flex-wrap: wrap;
    gap: 20px;
  }

  .app-header {
    width: 70%;
    max-width: 400px;
  }

  .rules {
    top: 0;
  }

  h2 {
    margin: 0;
  }

  .player {
    width: 180px;
    height: 90px;
    align-items: center;
    margin: -40px 15px 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .player:nth-last-of-type(1) {
    flex-direction: row-reverse;
  }

  .player1, .player2 {
    position: absolute;
    width: 40px;
    border-radius: 50%;
    top: 25px;
    left: -22px;
  }

  .player2 {
    left: 162px;
  }
}