* {
  /* box-sizing: border-box; */
}

:root {
  --color-background-light: #7945FF;
  --color-background-dark: #5C2DD5;
  --color-text: whitesmoke;
  --color-a: #ff6584;
  --color-b: #fdcd69;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background-light);
  min-width: 500px;
}

header {
  height: 188px;
  display: flex;
  justify-content: center;
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.button {
  margin: 0px;
  text-align: center;
  color: var(--color-text);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em;
  width: 7em;
  background-color: var(--color-background-dark);
  border-radius: 50px;
  cursor: pointer;
}

.ball {
  width: 1.1em;
  height: 1.1em;
  border: 2px black solid;
  margin: 2px;
  border-radius: 50%;
}

.ball-a {
  background-color: var(--color-a);
}

.ball-b {
  background-color: var(--color-b);
}

.line {
  display: flex;
}

main {
  height: 60%;
  display: flex;
  justify-content: center;
}

.main-frame {
  border: 2px black solid;
  border-bottom: 10px black solid;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  position: relative;
  z-index: 1;
}

.circle {
  position: relative;
  width: 4em;
  height: 4em;
  overflow: hidden;
  background-color: transparent;
}

.red {
  background-color: var(--color-a);
}

.yellow {
  background-color: var(--color-b);
}

.white-mask {
  position: absolute;
  top: -1em;
  left: -1em;
  width: 3em;
  height: 3em;
  background-color: transparent;
  border-radius: 3em;
  border: 1.5em solid white;
  pointer-events: none;
}

.player {
  background-color: var(--color-text);
  border: 2px black solid;
  border-bottom: 10px black solid;
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 130px;
  align-items: center;
  margin: 0 30px;
  text-transform: uppercase;
  border-radius: 15px;
  position: relative;
}

.player1 {
  background-color: var(--color-a);
}

.player2 {
  background-color: var(--color-b);
  transform: scaleX(-1);
}

img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  top: -20px;
}

h1 {
  font-size: 3em;
  margin-top: 0px;
}

h2 {
  font-size: 1em;
  margin-top: 30px;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: var(--color-background-dark);
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: absolute;
  bottom: 0;
}

@media (max-width: 900px) {
  .main-page {
    order: 1;
  }

  main {
    flex-wrap: wrap;
    gap: 20px;
  }
}